.table_pane_container {

}

.main_pane {
  font-size: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.db_table_pane {
  table {
    margin: 0 auto;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}
td, th {
  border: 1px solid rgb(157, 157, 157);
  padding: 10px 20px;
}
table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
thead {
  position: sticky;
  top: 0;
  background-color: #545e51;
  border: 2px solid rgb(129, 129, 129);
  color: #1f2f24;
  font-size: 1.2rem;
}

.control_pane {
  position: fixed;
  button {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #b4a64a;
    margin: 2rem;
  }
}

.control_cell {
  & > * {
    margin: 0 0.5rem;
  }
}